<!DOCTYPE html>
<html>
  <head>
    <title>Add a book to the db</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
  {% include 'menu.html' %}
    <div class="container">
      <p>Add a new book here!</p>
    </div>
  <div>
      <p>Book details:</p>
<form action="/add-book" method="post" name="add_book">
    <p>
        Title: <br>
        <input type="text" id="title" name="title" value=""/>
    </p>
    <p>
        Author: <br>
        <input type="text" id="author" name="author" value=""/>
    </p>
    <p>
        Category: <br>
        <input type="text" id="category" name="category" value=""/>
    </p>
    <p><input type="submit" value="Add"></p>
</form>
      {% if message %}
        <p>{{message}}</p>
      {% endif %}
  </div>
  </body>
</html>