{% block container %}
  <div class="bookslist">
    {% for book in bookstoimport %}
      <div class="bookitem">
          <p>{{book.title }}</p>
          <small>{{ book.author }}</small>
          <hr>
      </div>
    {% endfor %}
      {% if bookstoimport|length == 0 and not message%}
      <p>No books to import at the moment! Search for them first.</p>
      {% endif %}
  </div>
{% endblock %}