<!DOCTYPE html>
<html>
  <head>
    <title>Book summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
  {% include 'menu.html' %}
  {% if book %}
  <div class="container">
      <p>Title: {{book['title']}}</p>
      <p>Author: {{book['author']}}</p>
      <p>Description: {{book['description']}}</p>
      {% if book['categories_names']|length > 1 %}
        <p>Categories:</p>
      {% else %}
        <p>Category:</p>
      {% endif %}
      {% for category in book['categories_names'] %}
        {{category}}<br>
      {% endfor %}
    </div>
  {% else %}
    {% if message %}
    <div>
        {{message}}
    </div>
  {%endif%}
  {% endif %}
  </body>
</html>