<!DOCTYPE html>
<html>
  <head>
    <title>Import books from Google's base.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
          {% include 'menu.html' %}
    <div>
      <p> Search books to import:</p>
      <form action="/searchtoimport" method="post" name="searchtoimport">
    <p>
        Title: <br>
        {% if title %}
            <input type="text" id="title" name="title" value="{{title}}">
        {% else %}
            <input type="text" id="title" name="title" value="">
        {% endif %}
    </p>
    <p>
        Author: <br>
        {% if author %}
            <input type="text" id="author" name="author" value={{author}}>
        {% else %}
            <input type="text" id="author" name="author" value="">
        {% endif %}
    </p>
    <p><input type="submit" value="Search"></p>
</form>
    {% if bookstoimport|length != 0 %}
    <form action="/importbooks" method="post" name="importbooks">
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="author" value="{{author}}">
          <input type="submit" value="Import">
    </form>
        {% endif %}
    </div>
    <div class="container">
        {% include 'bookstoimport.html' %}
    </div>
  {% if message %}
    <div>
        {{message}}
    </div>
  {%endif%}
  </body>
</html>