<!DOCTYPE html>
<html>
  <head>
    <title>Aparad's bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
  {% include 'menu.html' %}
  </body>
</html>