<!DOCTYPE html>
<html>
  <head>
    <title>Search for books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
  {% include 'menu.html' %}
    <div>
      <p> Search:</p>
      <form action="/search" method="post" name="search">
    <p>
        Title: <br>
        <input type="text" id="title" name="title" value=""/>
    </p>
    <p>
        Author: <br>
        <input type="text" id="author" name="author" value=""/>
    </p>
    <p>
        Category: <br>
        <input type="text" id="category" name="category" value=""/>
    </p>
    <p><input type="submit" value="Search"></p>
</form>
    </div>
    {% if books %}
  <div>
      <p>Books:</p>
      <ul>
        {% for id, title in books %}
          <li><a href="/book/{{id}}">{{title}}</a></li>
        {% endfor %}
      </ul>
  </div>
  {% endif %}
  {% if message %}
    <div>
        <p>{{message}}</p>
    </div>
  {%endif%}
  </body>
</html>